<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aka.adnot">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application

        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name=".NotificationService">
        </service>
        <receiver
            android:name=".AdNotBroadcastReceiver"
            android:enabled="true">
        </receiver>
        <receiver android:name=".AdNotBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
